:root {
    --font1: "Roboto Condensed", sans-serif;
    --color1: #1a6592;
    --color2: #5687a5;
    --colorlight: white;
}

body {
    background-color: var(--color1);
    overflow: hidden;
}

.body {
    color: var(--colorlight);
    font-family: var(--font1);
    background-image: linear-gradient(var(--color1), var(--color2));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

main {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.container-fluid {
    display: flex;
    justify-content: space-between !important;
}

.navbar-brand {
    color: var(--colorlight);
    font-weight: 200;
    font-size: 30px;
}

.row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

.card {
    background-color: transparent;
    border: none;
    color: var(--colorlight);
    font-weight: 400;
}

.city-name {
    font-size: 20px;
}

.degrees {
    font-size: 50px;
}

.current-weather-icon {
    width: 100%;
    height: auto;
}

.list-group-item {
    background-color: transparent;
    border: none;
}

.five-day-cards {
    border: 1px solid gray;
    border-radius: 16px;
}

.five-day-icons {
    width: 100%;
    height: auto;
    filter: brightness(150%);
}

.five-day-date {
    font-size: 13px;
}
.five-day-degrees {
    font-size: 14px;
}

.five-day-wind,
.five-day-humidity {
    font-size: 11.5px;
}

.list-group-item {
    padding: 0;
    margin: 0;
}

.bg-light {
    background-color: var(--colorlight);
    border-top-left-radius: 36px;
    border-top-right-radius: 36px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    position: absolute;
    bottom: -90vh;
    width: 100vw;
    left: 0;
}

@media screen and (min-width: 1024px) {
    .bg-light {
        width: 100%;
        max-width: 1024px;
        left: 50%;
        margin-left: -512px;
    }
    
}

.line {
    min-height: 2px;
    width: 40px;
    color: black;
    background-color: black;
    border: none;
    margin-top: 20px;
}

.bottom-title-date {
    border-bottom: 1px solid black;
    padding-right: 20%;
    padding-left: 20%;
    margin-right: auto;
    margin-left: auto;
}

.bottom-city-name {
    font-size: 25px;
}

.wind-card {
    border-right: 1px solid black;
    border-radius: 0px;
}
.humidity-card {
    border-left: .5px solid black;
    border-radius: 0px;
}

.wind-speed,
.humidity-percentage {
    font-size: 45px;
}

.bottom-wind-title,
.bottom-humidity-title {
    font-size: 20px;
}

.extra {
    font-size: 25px;
}

#desc {
    text-transform: capitalize;
}

#search-history {
    display: flex;
    flex-wrap: wrap;
}

.search {
    font-size: 13px;
    text-transform: capitalize;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: underline;
}

.search:hover {
    color: gray;
}